<?xml version="1.0"?>

<launch>

	<node name = "nav_bt" pkg="nav2_bt_navigator" exec="bt_navigator">
		<param name="use_sim_time" value="true"/>
		<param name="global_frame" value="map"/>
		<param name="robot_base_frame" value="base_link"/>
		<param name="transform_tolerance" value="0.2"/>
		<param name="enable_groot_monitoring" value="True"/>
		<param name="groot_zmq_publisher_port" value="1666"/>
		<param name="groot_zmq_server_port" value="1667"/>
		<param name="default_bt_xml_filename" value="$(find-pkg-share minilab_navigation)/config/basic_bt.xml"/>
		<param name="goal_blackboard_id" value="goal"/>
		<param name="goals_blackboard_id" value="goals"/>
		<param name="path_blackboard_id" value="path"/>
		<param name="plugin_lib_names" value="nav2_compute_path_to_pose_action_bt_node, nav2_follow_path_action_bt_node, nav2_back_up_action_bt_node, nav2_spin_action_bt_node, nav2_wait_action_bt_node, nav2_clear_costmap_service_bt_node, nav2_is_stuck_condition_bt_node, nav2_goal_reached_condition_bt_node, nav2_initial_pose_received_condition_bt_node, nav2_goal_updated_condition_bt_node, nav2_reinitialize_global_localization_service_bt_node, nav2_rate_controller_bt_node, nav2_distance_controller_bt_node, nav2_speed_controller_bt_node, nav2_recovery_node_bt_node, nav2_pipeline_sequence_bt_node, nav2_round_robin_node_bt_node, nav2_transform_available_condition_bt_node, nav2_time_expired_condition_bt_node, nav2_distance_traveled_condition_bt_node" value-sep=", "/>
		
		
	</node>
	
	<node name = "costmap_2d" pkg="nav2_costmap_2d" exec="nav2_costmap_2d" >
		<param from="$(find-pkg-share minilab_navigation)/config/costmap_params.yaml"/>
	</node>
	
</launch>
