<?xml version="1.0"?>

<launch>

	<node name = "nav_bt" pkg="nav2_bt_navigator" exec="bt_navigator">
		<param name="use_sim_time" value="true"/>
		<param name="global_frame" value="map"/>
		<param name="transform_tolerance" value="0.2"/>
		<param name="robot_base_frame" value="transform_tolerance"/>
		<param name="enable_groot_monitoring" value="True"/>
		<param name="groot_zmq_publisher_port" value="1666"/>
		<param name="groot_zmq_server_port" value="1667"/>
		<param name="default_bt_xml_filename" value="$(find-pkg-share minilab_navigation)/config/basic_bt.xml"/>
		
		<param name="goal_blackboard_id" value="goal"/>
		<param name="goals_blackboard_id" value="goals"/>
		<param name="path_blackboard_id" value="path"/>
		
	</node>
	
	<node name = "costmap_2d" pkg="nav2_costmap_2d" exec="nav2_costmap_2d" >
		<param from="$(find-pkg-share minilab_navigation)/config/costmap_params.yaml"/>
	</node>
	
</launch>
