<?xml version="1.0"?>

<launch>
	<arg name="map" default="buvette"/>
	
	<include file="$(find-pkg-share minilab_simulation)/launch/minilab_simulation.launch">
		<arg name="map" value="$(var map)"/>
	</include>
	
	<node name="map_server" pkg="nav2_map_server" exec="map_server">
		<param from="$(find-pkg-share minilab_model)/map/map_server_params.yaml"/>
	</node>
	<include file = "$(find-pkg-share minilab_navigation)/launch/minilab_nav2_bt.launch"/>
	<include file = "$(find-pkg-share minilab_navigation)/launch/minilab_amcl.launch"/>
</launch>
