<?xml version="1.0"?>

<launch>
	<arg name="map" default="buvette"/>
	
	<include file="$(find-pkg-share minilab_simulation)/launch/minilab_simulation.launch">
		<arg name="map" value="$(var map)"/>
	</include>
	
	<include file = "$(find-pkg-share minilab_navigation)/launch/navigation.launch"/>
	<include file = "$(find-pkg-share minilab_navigation)/launch/localization_launch.py"/>
	
	<node name="rviz" pkg="rviz2" exec="rviz2"/>
	
	<executable cmd="bash $(find-pkg-share minilab_demo_simulation)/scripts/minilab_lifecyle_manager" output="screen"/>
	
	
</launch>
