<?xml version="1.0" ?>
<launch>

	<arg name="paused" default="false"/>
 	<arg name="use_sim_time" default="False"/>
	<arg name="extra_gazebo_args" default=""/>
	<arg name="gui" default="true"/>
	<arg name="recording" default="false"/>
	<arg name="headless" default="false"/>
 	<arg name="debug" default="false"/>
 	<arg name="physics" default="ode"/>
	<arg name="verbose" default="false"/>
	<arg name="world_name" default="worlds/empty.world"/>
	<arg name="respawn_gazebo" default="false"/>
	<arg name="use_clock_frequency" default="false"/>
	<arg name="pub_clock_frequency" default="100"/>
	
	<!-- defining these arguments is kind of useless -->
	
	
	<!-- There is no parameters server in ros2, but each node has its own use_sim_time parameter and hence we can set it with a param tag nested in a node tag(it is set to true by default for the gazebo node) -->
	
	<!-- Sadly, conditional statement are not supported yet in ROS2, still working on that...
	Howerver, the default values will be used here. It is possible to change these values here in the launch file, or simply give the values in a terminal to the launch command-->
	<arg name="command_arg1" default=""/>
	<arg name="command_arg2" default=""/>
	<arg name="command_arg3" default=""/>
	<arg name="script_type" default="gzserver"/>
	
	<!-- use_clock_frequency will not be used by default -->
	
	<!-- Gazebo and gzserver are run through launch files, that's why the include tags are used. To have exactly the same behavior in ROS2, the include tags must be nested in group tags-->
	<group>
		<include file = "/opt/ros/foxy/share/gazebo_ros/launch/gazebo.launch.py" args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(arg world_name)" >
				
		</include>  
	</group>
	
</launch>
