<?xml version="1.0"?>
<launch>
	
	<arg name = "robot_description" default = "minilab_equiped.urdf"/>
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher" args = "$(find-pkg-share minilab_model)/urdf/$(var robot_description)">

		<param name="use_gui" value="false"/>
	</node>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" args = "$(find-pkg-share minilab_model)/urdf/$(var robot_description)">
		
		<param name="use_gui" value="false"/>
	</node>
</launch>
